@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
main {    
      margin: 20px 100px 10px 100px;     
      font-family: 'Montserrat'; 
 }  

h1 {     
    color: #203D63;     
    font-size: 32px;    
    font-weight: 700;     
    margin-bottom: 0%; 
} 

h2 {    
    color: #9E9EA0;   
    font-size: 20px;    
    font-weight: 700;   
    margin-top: 0%; 
} 

.all__squares{
	display: flex;
	justify-content: center;
}

.square {
	width: 18%;
	height: 130px;
	background-color: #549EFF;
	border-radius: 5px;
	margin: 2% 2%;
}

.square__text{
	text-align: center;
	color: #FFFF;
	font-family: 'Montserrat';
}

.img__musica{
	height: 60%;
	width: 30%;
	margin: 5% auto 3%;
	display: flex;
	align-items: center;
	justify-content: center;
} 
footer { 
	background-color:#34629F; 
        font-size: 15px; 	
	height: 50px; 	
	color: white; 	
	text-align: center; 	
	margin-top: 90px; 	
	margin-left: 0px; 	   
} 
