body {
	background-color: #203D63;
	font-family: 'Open Sans', 'Poppins', sans-serif;
}

.trilha {
	position: relative;
}

.trilha-titulo {
	color: #549EFF;
	text-align: center;
}

.circle-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.circulo {
	background-color: #34629F;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.circulo2 {
	background-color: #549EFF;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
  	transform: translate(50%, 50%);
}
.circulo3 {
	background-color: #A0C8FF;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
	transform: translate(50%, 50%);
}

.trilha-subtitulo {
	color: #FFFFFF;
	text-align: center;
}

.controles {
	position: relative;
}
.fa-solid {
	background-color: #34629F;
	border-radius: 50%;
}
.fa-square {
	width: 30px;
	height: 30px;
	color: #203D63;
	transform: translate(0%, 25%);
	margin-right: 2%;
}
.fa-solid.fa-square::before{
	position: relative;
	left: 25%;
	top: 25%;
}
.fa-music{
	width: 30px;
	height: 30px;
	color: #203D63;
	transform: translate(0%, 25%);
	margin: 2%;
}
.fa-solid.fa-music::before{
	position: relative;
	left: 20%;
	top: 25%;
}
.fa-play{
	width: 45px;
	height: 45px;
	color: #203D63;
}
.fa-solid.fa-play::before{
	position: relative;
	left: 38%;
	top: 35%;
}