* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #203D63;
	font-family: 'Open Sans', 'Poppins', sans-serif;
}

.trilha {
	position: relative;
	padding: 10px; /* modificar */
}

.trilha__titulo {
	color: #549EFF;
	text-align: center;
	margin-top: 100px;
}

.circulo {
	background-color: #34629F;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}

.circulo, .circulo2, .circulo3 {
	border-radius: 50%;
}

.circulo2 {
	background-color: #549EFF;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circulo3 {
	background-color: #A0C8FF;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

.trilha__subtitulo {
	color: #FFFFFF;
	text-align: center;
	padding: 40px; /* modificar */
}

.linha {
	background-color: #34629F;
	height: 2px;
	width: 100%;
	margin-bottom: 2%;
}
.acima{
	background-color: #549EFF;
	width: 70%;
}

.controles {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 150px; /* modificar*/
	margin: 0 auto;
	padding: 10px;
}

.controles i {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
.fa-solid {
	background-color: #34629F;
	border-radius: 50%;
}

.fa-square {
	width: 30px;
	height: 30px;
	color: #203D63;
}

.fa-play {
	width: 45px;
	height: 45px;
	color: #203D63;
}

.fa-play::before {
	margin-left: 2px;
}

.fa-music {
	width: 30px;
	height: 30px;
	color: #203D63;
}